<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h4 class="title">Email Notification Settings</h4>
            </div>
            <div class="content">

                <div class="row">
                    <div class="col-md-8">
                        Do you want a monthly report for every month?
                        <mat-checkbox [(ngModel)]="monthly" labelPosition='before'></mat-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        Do you want a warning message, whenever a budget limit passes the "warning-limit"?
                        <mat-checkbox [(ngModel)]="warning" labelPosition='before'></mat-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <button  class="btn btn-info" (click)="updateEvents()">Save Changes</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>