<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h3 class="title">Actual Balance</h3>
                        <mat-form-field>
                            <mat-select [(value)]="selectedBalance"
                                (selectionChange)="selectedBalanceChanged($event.value)">
                                <mat-option value="CARD">Card</mat-option>
                                <mat-option value="CASH">Cash</mat-option>
                                <mat-option value="TOTAL">Total</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>{{balance.hufShow}} Hungarian Forint</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h4> {{balance.eurShow}} Euro</h4>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h3 class="title">Conversion datas for HUF</h3>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-4">
                                <h4> {{balance.eurShow}} Euro worth {{balance.eurToHuf}} Hungarian Forint on the current
                                    exchange rate </h4>
                            </div>
                            <div class="col-md-4">
                                <h5>Exhchange rates provider: </h5>
                                <h5>https://exchangeratesapi.io/</h5>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h3 class="title">Month of the statistics</h3>
                    </div>
                    <div class="text-center">
                        <mat-form-field>
                            <input matInput [matDatepicker]="dp" placeholder="Month and Year" [formControl]="date">
                            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                            <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
                                (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
                            </mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="(pieDataReady1 && pieDataReady2) |async " class="row">
            <div *ngFor="let pieData of pieIncomeDatas" class="col-md-6">
                <ng-template [ngIf]="pieData.relevant == true">
                    <div class="card">
                        <div class="header">
                            <h3 class="title">Income {{pieData.currency}} {{pieData.paymentType}}</h3>
                        </div>
                        <div>
                            <canvas baseChart [data]="pieData.data" [labels]="pieData.labels"
                                [chartType]="pieChartType"></canvas>
                        </div>
                    </div>
                </ng-template>
            </div>
            <div *ngFor="let pieData of pieExpenseDatas" class="col-md-6">
                <ng-template [ngIf]="pieData.relevant == true">
                    <div class="card">
                        <div class="header">
                            <h3 class="title">Expense {{pieData.currency}} {{pieData.paymentType}}</h3>
                        </div>
                        <div>
                            <canvas baseChart [data]="pieData.data" [labels]="pieData.labels"
                                [chartType]="pieChartType"></canvas>
                        </div>
                    </div>
                </ng-template>
            </div>
            <div class="row" *ngIf="barDataReady |async ">
                <div class="col-md-12">

                    <div class="card">
                        <div class="header">
                            <h3 class="title">Recent income and expense </h3>
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-select [(value)]="selectedMonths"
                                        (selectionChange)="selectedMonthsChanged($event.value)">
                                        <mat-option *ngFor="let num of monthsPool" [value]="num">{{num}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                                    [legend]="barChartLegend" [chartType]="barChartType">
                                </canvas>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>