<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">New Transaction</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Name of Transaction</label>
                                        <input type="text" class="form-control" [(ngModel)]="transaction.name"
                                            [ngModelOptions]="{standalone: true}" placeholder="Username">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Amount</label>
                                        <input type="number" class="form-control" [(ngModel)]="transaction.amount"
                                            placeholder="0" [ngModelOptions]="{standalone: true}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Currency</label>
                                        <select name="currency" type="text" class="form-control"
                                        [(ngModel)]="transaction.currency" [ngModelOptions]="{standalone: true}">
                                        <option *ngFor="let element of currencyList">{{element}}</option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Category</label>
                                        <select name="category" type="text" class="form-control"
                                            [(ngModel)]="transaction.category" [ngModelOptions]="{standalone: true}"
                                            onselect="console.log(transaction.category)">
                                            <option *ngFor="let element of categoryList">{{element}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Payment Type</label>
                                        <select name="paymentType" type="text" class="form-control"
                                            [(ngModel)]="transaction.paymentType" [ngModelOptions]="{standalone: true}">
                                            <option *ngFor="let element of paymentTypes">{{element}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Transaction date</label>
                                        <div></div>
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="picker1" [formControl]="date">
                                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Auto fill by receipt (only SPAR markets)</label>
                                        <div></div>
                                        <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
                                        <button class="button-info" (click)="fileInput.click()">Select File</button>
                                        <button class="button-info" (click)="onUpload()">Auto Fill</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <button class="button-income" (click)="addIncome()">Add Income</button>
                                    <div class="divider"></div>
                                    <button class="button-expense" (click)="addExpense()">Add Expense</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>