<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">New Transaction</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Name of Transaction</label>
                                        <input type="text" class="form-control"  [(ngModel)]="transaction.name" [ngModelOptions]="{standalone: true}" placeholder="Username">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Ammount</label>
                                        <input type="number" class="form-control"  [(ngModel)]="transaction.ammount" placeholder="0" [ngModelOptions]="{standalone: true}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Currency</label>
                                        <input type="text" class="form-control"  [(ngModel)]="transaction.currency" [ngModelOptions]="{standalone: true}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Category</label>
                                        <input type="text" class="form-control"  [(ngModel)]="transaction.category" [ngModelOptions]="{standalone: true}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Payment Type</label>
                                        <input type="text" class="form-control"  [(ngModel)]="transaction.paymentType" placeholder="CASH" [ngModelOptions]="{standalone: true}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Transaction date</label>
                                        <div></div>
                                        <!-- <input type="date" [(ngModel)]="transaction.transactionDate" id="transactionDate" class="form-control" name="transactionDate">
 -->                                        <mat-form-field>
                                            <input matInput [matDatepicker]="picker1" [formControl]="date">
                                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                          </mat-form-field>
                                          
                                          

                                    </div>
                                </div>
                            </div>
                         </form>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
