<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Category</h4>
                        <p class="category"></p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tableData1.dataRows">
                                    <td>
                                        <input type="text" name="row" value={{row.data}} [(ngModel)]="row.data">
                                    </td>
                                    <td> <button type="button" class="btn btn-warning" id="update"
                                            (click)="updateRow(row)">UPDATE</button> </td>
                                    <td> <button type="button" class="btn btn-danger" id="remove"
                                            (click)="deleteRow(row)">DELETE</button> </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" name="row" id="new_category_input"
                                            placeholder="New category..." [(ngModel)]="addNew">
                                    <button type="button" class="btn btn-success" id="add"
                                        (click)="addRow()">ADD</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>